# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Loom
.cache/
.project
.settings
.classpath
*.launch
*.log

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# VSCode
.vscode/

# Eclipse
.project
.classpath
.settings/

# Netbeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Local Maven repository
.m2/

# Others
out/
logs/
*.log
*.zip
*.jar
*.lock
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
